{{ define "main" }}
<div class="col-xs-12 col-sm-8 col-md-9 content-column white-background">
  {{ partial "mobile_nav_toggle.html" . }}
  <div class="row">
    <div class="col-lg-8">
      <div class="content-column-content">
      
         <h1>{{ .Title }}
         <p style="font-size:40%;"> {{ .Date | time.Format "02 Jan 2006 03:04PM"}}  
        
         </p>
         </h1>

        {{ .Content }}

        <!-- <script>
        // When the user scrolls down 50px from the top of the document, resize the header's font size
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
          if (document.body.scrollTop > 1 || document.documentElement.scrollTop > 1) {
            document.getElementById("postheader").style.fontSize = "18px";
          } else {
            document.getElementById("postheader").style.fontSize = "25px";
            document.getElementById("postheader").style.textAlign = "center";
          }
        }
        </script> -->



        
         {{ template "_internal/disqus.html" . }}
      </div>
    </div>
  </div>
</div>
{{ end }}
